<!DOCTYPE html>
<html>
<head>
    <title>Nova AI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">

    <!-- SIDEBAR -->
    <div class="sidebar">

        <div class="logo">NOVA AI</div>
        <div class="tagline">Your Intelligent AI Assistant 🚀</div>

        

        <!-- NEW BUTTONS -->
          <button onclick="clearChat()">🗑 Clear Chat</button>
<button onclick="newChat()">➕ New Chat</button>
<button onclick="toggleTheme()">🌙 Dark / Light</button>
<button onclick="downloadChat()">📄 Download Chat</button>


    </div>

    <!-- CHAT -->
    <div class="chat-section">

        <div class="topbar">Nova AI Assistant</div>

        <div id="chat-box"></div>

        <div class="input-area">

    <label for="file-upload" class="upload-btn">📎 Upload</label>

    <input type="file" id="file-upload" accept=".pdf,.txt,image/*" hidden>

    <input type="text" id="user-input" placeholder="Ask anything...">

    <button onclick="startListening()">🎤</button>

    <button onclick="sendMessage()">Send</button>

</div>
        </div>

    </div>

</div>

<script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>